<!DOCTYPE html>

<html lang="en">
	<head>
		<link rel="stylesheet" href="resources/static/css/bootstrap-3.3.7.min.css"/>
		<link rel="stylesheet" href="resources/static/css/angular-virtual-keyboard.css"/>
		<link rel="stylesheet" href="resources/static/css/loading-bar.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="resources/static/css/app.css"/>
		
		<script src="resources/static/javascript/lib/jquery-3.1.0.min.js"></script>
		<script src="resources/static/javascript/lib/rx.lite.min.js"></script>
		
		<script src="resources/static/javascript/lib/angular-1.5.8.js"></script>
		<script src="resources/static/javascript/lib/angular-ui-router-1.0.0-beta.1.js"></script>		
		<script src="resources/static/javascript/lib/ui-bootstrap-tpls.js"></script>
		<script src="resources/static/javascript/lib/loading-bar.js"></script>
		<script src="resources/static/javascript/lib/angular-virtual-keyboard-0.4.3.js"></script>
		<script src="resources/static/javascript/lib/rx.angular.min.js"></script>
		
		<script src="resources/static/javascript/lib/bootstrap-3.3.7.min.js"></script>
				
		<script src="resources/static/javascript/app.js"></script>
	</head>
	
	<body data-ng-app="posapp">
		<navigation></navigation>
		<div id="container-fluid">
			<div id="content">
				<ui-view></ui-view>
			</div>
		</div>
	</body>
</html>