body {
	font-family: Courier New;
}

ul.navbar-nav li a {
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

div[class^="no-padding"], div[class*=" no-padding"] {
	padding: 0
}

.selected {
	background-color: #B0C4DE;
}

.table tbody tr td {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.5;
	border: none;
}

.cursor-pointer {
	cursor: pointer;
}

.borderless td, .borderless th {
    border: none;
}

.dropdown-menu li a:hover {
	background-color: #B0C4DE;
}

.navbar {
	margin-bottom: 0
}

td .btn {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.5;
	background-color: aliceblue;
}

#cart-items-list {
	height: 400px;
}

.cart-item {
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	margin: 5px;
}

.cart-item-button {
	/*display: table-cell;*/
	font-size: 19px;
	font-weight: bold;
}

.cart-item-button:focus {
	background-color : lightgray;
}