body {
	font-family: Courier New;
}

ul.navbar-nav li a {
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

div[class^="no-padding"], div[class*=" no-padding"] {
	padding: 0
}

div#content {
	padding-top: 20px;	
}

span:empty::before {
	content: "\200b";
}

.selected {
	background-color: #B0C4DE;
}

.table tbody tr td {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.5;
	border: none;
}

.cursor-pointer {
	cursor: pointer;
}

.borderless td, .borderless th {
    border: none;
}

.dropdown-menu li a:hover {
	background-color: #B0C4DE;
}

.navbar {
	margin-bottom: 0
}

td .btn {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.5;
	background-color: aliceblue;
}

.menu-container {
	padding-right: 20px;
	padding-left: 0;
}

.menu-container div, .menu, .menu-row {
	padding: 0;
}

.menu-row {
	margin-bottom: 10px;
}

.menu-row sw-button span {
	padding-left: 10px;
	padding-right: 10px;
}

.menu-row sw-button span button {
	height: 50px;
	padding: 0;
	/*line-height: 25px;*/
	font-size: 130%;
	font-weight: bold;
	white-space: normal;
}

.cart-container {
	padding-left: 30px;
	padding-right:10px;
}

.cart-container div, .cart, .cart-item-list  {
	padding: 0;
}

.cart-item span {
	padding-left: 0;
}

.cart-info {
	margin-bottom: 20px;
}

.cart-info  sw-button  span  button {
	font-size : 20px;
	font-weight: bold;
}

.cart-item {
	height: 50px;
	border: none;
	margin: 2px;
	padding: 0;
}


.font-20 {
	font-size: 20px;
	font-weight: bold;	
}

.font-18 {
	font-size: 18px;
	font-weight: bold;	
}

input[type="text"]:focus {
	background-color : lightgray;
}

.pn-buttons-container {
	margin-top: 20px;	
}

#itemTypeTable tbody {
	display: block;
}

.no-padding {
	padding: 0;
}

.no-left-padding {
	padding-left: 0;
}

.no-right-padding {
	padding-right: 0;
}