body {
	font-family: Courier New;
}

ul.navbar-nav li a {
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

div[class^="no-padding"], div[class*=" no-padding"] {
	padding: 0
}

div#content {
	padding-top: 20px;	
}

.selected {
	background-color: #B0C4DE;
}

.table tbody tr td {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.5;
	border: none;
}

.cursor-pointer {
	cursor: pointer;
}

.borderless td, .borderless th {
    border: none;
}

.dropdown-menu li a:hover {
	background-color: #B0C4DE;
}

.navbar {
	margin-bottom: 0
}

td .btn {
	font-size: 19px;
	font-weight: bold;
	line-height: 1.5;
	background-color: aliceblue;
}

#cart-items-list {
	height: 400px;
}

.item {
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	margin: 2px;
}

.font-20 {
	font-size: 20px;
	font-weight: bold;	
}

.cart-item-button {
	display: table-cell;
	font-size: 19px;
	font-weight: bold;
}

.cart-item-button:focus, input[type="text"]:focus {
	background-color : lightgray;
}

#itemTypeTable tbody {
	display: block;
}

.no-padding {
	padding: 0;
}

.no-left-padding {
	padding-left: 0;
}

.no-right-padding {
	padding-right: 0;
}

.vertical-line-right {
	height: 400px; /* remove later */
    border-right: thick solid #000000;
}